<button (click)="setVisible()">
  {{visible? 'Ocultar' : 'Mostrar'}}
</button>

<div *ngIf="visible; else notEnable">
  <h2>Hi {{title}}</h2>
</div>

<div *ngIf="visible">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>user</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as id">
        <td>{{ id + 1 }}</td>
        <td>{{ user }}</td>
      </tr>
    </tbody>
    
  </table>
</div>

<div>
  
  <table *ngIf="books && books.length > 0; else isEmpty">
    <thead>
      <tr>
        <th>id</th>
        <th>book</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; index as id">
        <td>{{ id + 1 }}</td>
        <td>{{ book }}</td>
      </tr>
    </tbody>
    
  </table>

  <ng-template #isEmpty>
    <div>No books available</div>
  </ng-template>

</div>

<ng-template #notEnable>
  <div>Sorry, this page is not available.</div>
</ng-template>


