<button (click)="setVisible()">
  {{visible? 'Ocultar' : 'Mostrar'}}
</button>

@if (visible){
  <h2>Hi {{title}}</h2>

  <div> Total: {{counter}} </div>

  @if (users != undefined && users.length > 0;){
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>book</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index){
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ user }}</td>
          </tr>
        }
        
      </tbody>
    </table>
  } @else {
    <p>No books available</p>
  }
} @else {
  <p>Sorry, this page is not available.</p>
}

<app-counter [title]="subTitle" (counterEmit)="setCounter($event)"></app-counter>



<!-- <div *ngIf="visible; else notEnable">
  <h2>Hi {{title}}</h2>
</div>

<div *ngIf="visible">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>user</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as id">
        <td>{{ id + 1 }}</td>
        <td>{{ user }}</td>
      </tr>
    </tbody>
    
  </table>
</div>

<div>
  
  <table *ngIf="books && books.length > 0; else isEmpty">
    <thead>
      <tr>
        <th>id</th>
        <th>book</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; index as id">
        <td>{{ id + 1 }}</td>
        <td>{{ book }}</td>
      </tr>
    </tbody>
    
  </table>

  <ng-template #isEmpty>
    <h2>No books available</h2>
  </ng-template>

</div>

<ng-template #notEnable>
  <h2>Sorry, this page is not available.</h2>
</ng-template> -->

